.containerHeader {
    align-items: center;
    background-color: rgb(185, 185, 240);
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    padding-left: 2px;
    width: 30rem;
}

.author {
    color: white;
    font-size: 1.2rem;
}

.date {
    display: flex;
    font-size: 0.7rem;
    max-height: 100%;
    opacity: 0.5;
    padding: 2px;
    justify-content: flex-end;
}

.containerContent {
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.containerContent:hover {
    background-color: rgb(245, 244, 244);
}