.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 3rem;
    font-weight: bold;
    line-height: 34px;
    height: 4rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 4rem;
  }