.filters, .sorters {
    color: grey;
    width: 50%;
}

.moreOptions {
    display: flex;
    border: 3px solid rgba(75, 74, 74, 0.1);
    border-radius: 5px;
    flex-direction: row;
}

.moreOptions h3 {
    margin: 2px;
}

.showMore {
    color: grey;
    cursor: pointer;
}
